/* all app scss styles here */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
$secondary-color: #34a7ff;
h2{
	line-height: 0.7;
}

.empty-1{
	height:rem-calc(70);
}

.button {
	border: 1px solid $secondary-color;
	background-color: $secondary-color;
	padding: 5px 16px !important;
	line-height: 1.8em;
	&:hover {
		background-color: white;
		border: 1px solid $secondary-color;
		color: $secondary-color !important;
		}
}	
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background-color: #fff;
	color: #737373;
	border-bottom: 1px solid $secondary-color;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
	background-color: #fff;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	padding: 0px;
	// margin-left: 1rem;
	// margin-right: 1rem;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	padding: 0px;
	border-radius: 0px;
}
.sub-nav .right-nav dt a:hover, .sub-nav .right-nav dd a:hover, .sub-nav .right-nav li a:hover {
	border-bottom: 1px solid $secondary-color;
}
	.sub-nav {
		line-height: 72px;
	}
.part1 {
	height: 90%;
	max-height: 800px;
}
.part2 {
	height: 90%;
	max-height: 700px;
	.slide {
		min-height: 700px;
	}
	.orbit-bullets {
		display: none;
	}
	.orbit-slide-number {
		display: none;
	}
	.orbit-prev{
		display: none;
	}
	.orbit-next{
		display: none;
	}
	.part2-nav {
		text-align: center;
		position: relative;
		z-index: 2;
		top: 80%;
	}
	.bg-slide {
		position: inherit;
		width: auto;
		height: auto;
	}
	.part2-content{
		h3{
			color: white;
			line-height: 1;
		}
		// padding-left: 0px;
		position: relative;
		z-index: 99;
		color: white;
	}
	.button {
	font-size: 0.95rem;
	color: #eee !important;
	// color: #737373 !important;
	border: 1px solid white;
	background-color: rgba(255,255,255,0.4);
	padding: 5px 35px !important;
	margin-left: -5px;
	&:hover {
		background-color: rgba(255,255,255,0.8);
		border: 2px solid white;
		color: #737373 !important;
		}
	}
}
.part3 {
	position: relative;
	height: 100%;
	background:url('../images/bus3.jpg') no-repeat center center;
	background-size: cover;
	max-height: 800px;
	.part3-content{
		.part3-develop {
			padding-left: 0px;
		}
		.part3-sydtrafik {
			color: white;
			background-color: rgba(0,0,0,0.7);
			padding: 5px 0px 5px 10px;

			.clock {
				font-size: rem-calc(38);
				padding-bottom: 10px;
			}
			ul{ 
				list-style: none;
				li {
					line-height: 2;
					font-weight: 200;
				}
			}
			h3 {
				color:white;
			}
		}
	}
}
.part4 {
	position: relative;
	height: 90%;
	background-color: white no-repeat center center;
	background-size: cover;
	// max-height: 800px;
	.part4-spec {
		padding-left: 0px;
		ul {
			list-style: square;
		}
	}
	.button{
		margin-top: 20px;
	}
	.part4-content {
		position: relative;
		top: 10%;
	}
}

// Toms is writing this shit here!!

// [data-magellan-expedition], [data-magellan-expedition-clone] { // makes nav transparent
//   background: rgba(#fff, 0.9);
// }
// .sub-nav dd.active a { // takes of white background from nav items when menu trasparent
// 	background: none;
// }
// TOMS OVER AND OUT!

.footer-border {
	border-top: 1px solid #eee;
	.footer {
		line-height: rem-calc(72);
		top: 100%;
		.fa {
			margin-right: 6px;
			color: #d3d3d3;
			font-size: rem-calc(17);
			&:hover{
				color: $secondary-color;
			}
		}
		.privacyandterms{
			padding-left: 12px;
			color: #aaa;
			font-size: rem-calc(11);
			text-align: center;
			&:hover{
				border-bottom: 1px solid #d5d5d5;
			}
		}
	}
}







